<div id="theme-page" class="master-holder  clearfix" itemscope="itemscope" itemtype="https://schema.org/Blog">

  <div class="master-holder-bg-holder">
    <div id="theme-page-bg" class="master-holder-bg js-el"></div>
  </div>

  <div class="mk-main-wrapper-holder">

    <div id="mk-page-id-5" class="theme-page-wrapper mk-main-wrapper mk-grid full-layout no-padding ">
      <div class="theme-content no-padding" itemprop="mainEntityOfPage">


        <div class="clearboth"></div>
      </div>
    </div>
  </div>


  <div class="mk-page-section-wrapper">
    <div id="Home"
         class="mk-page-section self-hosted   full_layout full-width-2 js-el js-master-row     mk-in-viewport"
         data-intro-effect="false">


      <div class="mk-page-section-inner">


        <div class="mk-video-color-mask"></div>


      </div>


      <div class="page-section-content vc_row-fluid mk-grid">
        <div class="mk-padding-wrapper">
          <div style="" class="vc_col-sm-7 wpb_column column_container  _ height-full">

            <h1 id="fancy-title-3" class="mk-fancy-title  simple-style  color-single">
	<span>
				Crow-sourced <br>
<span style="color: #43d2e8;">sensor data</span>			</span>
            </h1>
            <div class="clearboth"></div>


            <style>#fancy-title-3 {
              font-family: "Dosis"
            }</style>
            <div id="list-4" class="mk-list-styles  mk-align-left  clear" data-charcode="e26c"
                 data-family="icomoon">


              <ul>
                <li>
                  <svg class="mk-svg-icon" data-name="mk-moon-checkmark-3" data-cacheid="icon-591d4e0204203"
                       style=" height:16px; width: 16px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M491.529 32c-167.25 126.583-327.651 295.9-327.651 295.9l-115.59-103.9-48.288 49.189c47.508 44.651 157.581 162.599 194.816 206.811 104.795-175.09 213.739-305.668 317.184-425.077l-20.471-22.923z"></path>
                  </svg>
                  Lorem ipsum dolor sit amet conse ctetur
                </li>
                <li>
                  <svg class="mk-svg-icon" data-name="mk-moon-checkmark-3" data-cacheid="icon-591d4e0204203"
                       style=" height:16px; width: 16px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M491.529 32c-167.25 126.583-327.651 295.9-327.651 295.9l-115.59-103.9-48.288 49.189c47.508 44.651 157.581 162.599 194.816 206.811 104.795-175.09 213.739-305.668 317.184-425.077l-20.471-22.923z"></path>
                  </svg>
                  Sed lobortis dui velit facil isis venen
                </li>
              </ul>

            </div>
            <div id="mk-button-6" class="mk-button-container _ relative    inline left ">


              <a href="/ttn" target="_self"
                 class="mk-button superTTN js-smooth-scroll mk-button--dimension-outline mk-button--size-large mk-button--corner-rounded _ relative text-center font-weight-700 no-backface  letter-spacing-2 inline">

                    <span class="mk-button--text">Add your <img style="width:40px;"
                                                                src="https://ttnstaticfile.blob.core.windows.net/static/ttn/media/logo/ttn-logo.png"/> device </span>
              </a>

              <a href="/toon" target="_self"
                 class=" mk-button js-smooth-scroll mk-button--dimension-outline mk-button--size-large mk-button--corner-rounded _ relative text-center font-weight-700 no-backface  letter-spacing-2 inline">

                    <span class="mk-button--text">Add your <img style="width:40px;"
                                                                src="https://www.toonapi.com/img/Toon-API-logo.svg"/> device </span>
              </a>


            </div>
            <div id="padding-7" class="mk-padding-divider   clearfix"></div>
            <div class="search-wrapper">
              <h4>Explore the data from 8 sensors</h4>
              <form class="search-form">
                <input type="text" placeholder="Browse data" class="main-search"/>
                <input type="submit" value="Share!" class="btn btn-default main-search-submit"/>
              </form>
            </div>

          </div>

          <div style="" class="vc_col-sm-5 wpb_column column_container  _ height-full">
            <div class="mk-image mk-image-8   align-left simple-frame inside-image " style="margin-bottom:0px">
              <div class="mk-image-holder" style="max-width: 489px;">
                <div class="mk-image-inner "><img class="lightbox-false" alt="Home" title="Home" width="489"
                                                  height="506"
                                                  src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/home-bg-01.png">
                </div>
              </div>
              <div class="clearboth"></div>
            </div>
          </div>
        </div>
        <div class="clearboth"></div>
      </div>


      <div class="clearboth"></div>
    </div>
  </div>

  <div class="mk-main-wrapper-holder">
    <div class="theme-page-wrapper no-padding full-layout mk-grid vc_row-fluid">
      <div class="theme-content no-padding">


        <div class="clearboth"></div>
      </div>
    </div>
  </div>


  <div class="mk-page-section-wrapper">
    <div id="page-section-9"
         class="mk-page-section self-hosted   full_layout full-width-9 js-el js-master-row     mk-in-viewport"
         data-intro-effect="false">


      <div class="mk-page-section-inner">


        <div class="mk-video-color-mask"></div>


        <div class="background-layer-holder">
          <div id="background-layer--9" class="background-layer  none-blend-effect js-el"
               data-mk-img-set="{&quot;landscape&quot;:{&quot;external&quot;:&quot;http://demos.artbees.net/jupiter5/tempestas/wp-content/uploads/sites/101/2016/04/pattern-01.png&quot;},&quot;responsive&quot;:&quot;true&quot;}"
               style="background-image: url(&quot;http://demos.artbees.net/jupiter5/tempestas/wp-content/uploads/sites/101/2016/04/pattern-01.png&quot;);">
            <div class="mk-color-layer"></div>
          </div>
        </div>

      </div>


      <div class="page-section-content vc_row-fluid mk-grid">
        <div class="mk-padding-wrapper">
          <div style="" class="vc_col-sm-3 wpb_column column_container  _ height-full">
            <div id="mk-icon-box-10"
                 class="mk-box-icon-2  box-align-center  mk-animate-element right-to-left  mk-in-viewport">
              <div class="mk-box-icon-2-image" style=""><img
                      src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/icon-1.png"
                      alt="SEARCH ENGINE"></div>
              <h3 class="mk-box-icon-2-title">SEARCH ENGINE</h3>
              <p class="mk-box-icon-2-content">Vivamus suscipit tortor eget felis porttitor volutpat&nbsp;sed
                porttitor lectus nibh</p></div>
            <div id="mk-button-11"
                 class="mk-button-container _ relative   mk-animate-element right-to-left   block text-center  mk-in-viewport">


              <a href="http://demos.artbees.net/jupiter5/tempestas/#" target="_self"
                 class="mk-button js-smooth-scroll mk-button--dimension-outline mk-button--size-medium mk-button--corner-rounded _ relative text-center font-weight-700 no-backface  letter-spacing-1 inline">

                <span class="mk-button--text">START</span>
              </a>


            </div>
            <div id="padding-12" class="mk-padding-divider visible-sm  clearfix"></div>

          </div>

          <div style="" class="vc_col-sm-3 wpb_column column_container  _ height-full">
            <div id="mk-icon-box-13"
                 class="mk-box-icon-2  box-align-center  mk-animate-element right-to-left  mk-in-viewport">
              <div class="mk-box-icon-2-image" style=""><img
                      src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/icon-2.png"
                      alt="TITLE &amp; PHRASES"></div>
              <h3 class="mk-box-icon-2-title">TITLE &amp; PHRASES</h3>
              <p class="mk-box-icon-2-content">Vivamus suscipit tortor eget felis porttitor volutpat&nbsp;sed
                porttitor lectus nibh</p></div>
            <div id="mk-button-14"
                 class="mk-button-container _ relative   mk-animate-element right-to-left   block text-center  mk-in-viewport">


              <a href="http://demos.artbees.net/jupiter5/tempestas/#" target="_self"
                 class="mk-button js-smooth-scroll mk-button--dimension-outline mk-button--size-medium mk-button--corner-rounded _ relative text-center font-weight-700 no-backface  letter-spacing-1 inline">

                <span class="mk-button--text">START</span>
              </a>


            </div>
            <div id="padding-15" class="mk-padding-divider visible-sm  clearfix"></div>

          </div>

          <div style="" class="vc_col-sm-3 wpb_column column_container  _ height-full">
            <div id="mk-icon-box-16"
                 class="mk-box-icon-2  box-align-center  mk-animate-element right-to-left  mk-in-viewport">
              <div class="mk-box-icon-2-image" style=""><img
                      src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/icon-3.png"
                      alt="TAGS"></div>
              <h3 class="mk-box-icon-2-title">TAGS</h3>
              <p class="mk-box-icon-2-content">Vivamus suscipit tortor eget felis porttitor volutpat&nbsp;sed
                porttitor lectus nibh</p></div>
            <div id="mk-button-17"
                 class="mk-button-container _ relative   mk-animate-element right-to-left   block text-center  mk-in-viewport">


              <a href="http://demos.artbees.net/jupiter5/tempestas/#" target="_self"
                 class="mk-button js-smooth-scroll mk-button--dimension-outline mk-button--size-medium mk-button--corner-rounded _ relative text-center font-weight-700 no-backface  letter-spacing-1 inline">

                <span class="mk-button--text">START</span>
              </a>


            </div>
            <div id="padding-18" class="mk-padding-divider visible-sm  clearfix"></div>

          </div>

          <div style="" class="vc_col-sm-3 wpb_column column_container  _ height-full">
            <div id="mk-icon-box-19"
                 class="mk-box-icon-2  box-align-center  mk-animate-element right-to-left  mk-in-viewport">
              <div class="mk-box-icon-2-image" style=""><img
                      src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/icon-4.png"
                      alt="MOBILE-FRIENDLY"></div>
              <h3 class="mk-box-icon-2-title">MOBILE-FRIENDLY</h3>
              <p class="mk-box-icon-2-content">Vivamus suscipit tortor eget felis porttitor volutpat&nbsp;sed
                porttitor lectus nibh</p></div>
            <div id="mk-button-20"
                 class="mk-button-container _ relative   mk-animate-element right-to-left   block text-center  mk-in-viewport">


              <a href="http://demos.artbees.net/jupiter5/tempestas/#" target="_self"
                 class="mk-button js-smooth-scroll mk-button--dimension-outline mk-button--size-medium mk-button--corner-rounded _ relative text-center font-weight-700 no-backface  letter-spacing-1 inline">

                <span class="mk-button--text">START</span>
              </a>


            </div>
          </div>
        </div>
        <div class="clearboth"></div>
      </div>


      <div class="clearboth"></div>
    </div>
  </div>

  <div class="mk-main-wrapper-holder">
    <div class="theme-page-wrapper no-padding full-layout mk-grid vc_row-fluid">
      <div class="theme-content no-padding">


        <div class="wpb_row vc_row vc_row-fluid  mk-fullwidth-false  attched-false     js-master-row  mk-in-viewport">


          <div style="" class="vc_col-sm-12 wpb_column column_container  _ height-full">

            <div id="padding-21" class="mk-padding-divider   clearfix"></div>

          </div>
        </div>


        <div id="Beginners"
             class="wpb_row vc_row vc_row-fluid  mk-fullwidth-false  attched-false     js-master-row  mk-in-viewport">


          <div style="" class="vc_col-sm-12 wpb_column column_container  _ height-full">

            <h3 id="fancy-title-22" class="mk-fancy-title  simple-style  color-single">
	<span>
				Made by people		</span>
            </h3>
            <div class="clearboth"></div>


            <style>#fancy-title-22 {
              font-family: "Dosis"
            }</style>
            <h3 id="fancy-title-23" class="mk-fancy-title  simple-style  color-single">
	<span>
				For the people			</span>
            </h3>
            <div class="clearboth"></div>


            <style>#fancy-title-23 {
              font-family: "Dosis"
            }</style>
            <div id="text-block-24" class="mk-text-block   ">


              <p>Vivamus suscipit tortor eget felis porttitor volutpat</p>

              <div class="clearboth"></div>
            </div>

            <div class="mk-moving-image  align-center  ">


              <img class="mk-floating-horizontal" alt="" title=""
                   src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/home-bg-02.png">

            </div>

            <div class="clearboth"></div>

            <div id="padding-25" class="mk-padding-divider   clearfix"></div>


            <div id="mk-button-26" class="mk-button-container _ relative    block text-center ">


              <a href="http://demos.artbees.net/jupiter5/tempestas/#" target="_self"
                 class="mk-button js-smooth-scroll mk-button--dimension-flat mk-button--size-large mk-button--corner-rounded text-color-light _ relative text-center font-weight-700 no-backface  letter-spacing-2 inline">

                <span class="mk-button--text">Contribute</span>
              </a>


            </div>
          </div>
        </div>


        <div class="clearboth"></div>
      </div>
    </div>
  </div>

  <div class="mk-main-wrapper-holder">
    <div class="theme-page-wrapper no-padding full-layout mk-grid vc_row-fluid">
      <div class="theme-content no-padding">


        <div class="wpb_row vc_row vc_row-fluid  mk-fullwidth-false  attched-false     js-master-row  mk-in-viewport">


          <div style="" class="vc_col-sm-12 wpb_column column_container  _ height-full">

            <div id="padding-34" class="mk-padding-divider   clearfix"></div>

          </div>
        </div>


      </div>
    </div>

    <div class="mk-main-wrapper-holder">
      <div class="theme-page-wrapper no-padding full-layout mk-grid vc_row-fluid">
        <div class="theme-content no-padding">


          <div class="clearboth"></div>
        </div>
      </div>
    </div>


    <div class="mk-page-section-wrapper">
      <div id="Clients" class="mk-page-section self-hosted   full_layout full-width-62 js-el js-master-row    "
           data-intro-effect="false">


        <div class="mk-page-section-inner">


          <div class="mk-video-color-mask"></div>


          <div class="background-layer-holder">
            <div id="background-layer--62" class="background-layer  none-blend-effect js-el"
                 data-mk-img-set="{&quot;landscape&quot;:{&quot;external&quot;:&quot;http://demos.artbees.net/jupiter5/tempestas/wp-content/uploads/sites/101/2016/04/pattern-3.png&quot;},&quot;responsive&quot;:&quot;true&quot;}"
                 style="background-image: url(&quot;http://demos.artbees.net/jupiter5/tempestas/wp-content/uploads/sites/101/2016/04/pattern-3.png&quot;);">
              <div class="mk-color-layer"></div>
            </div>
          </div>

        </div>


        <div class="page-section-content vc_row-fluid mk-grid">
          <div class="mk-padding-wrapper">
            <div style="" class="vc_col-sm-3 wpb_column column_container  _ height-full">

              <h4 id="fancy-title-63" class="mk-fancy-title  simple-style  color-single" style="white-space: nowrap;">
	<span>
				Powered by			</span>
              </h4>
              <div class="clearboth"></div>


              <style>#fancy-title-63 {
                font-family: "Dosis"
              }</style>
            </div>

            <div style="" class="vc_col-sm-9 wpb_column column_container  _ height-full">
              <div id="clients-64" data-animation="slide" data-easing="swing" data-direction="horizontal"
                   data-smoothheight="false" data-slideshowspeed="4000" data-animationspeed="500"
                   data-pauseonhover="true" data-controlnav="false" data-directionnav="false" data-iscarousel="true"
                   data-itemwidth="180" data-itemmargin="0" data-minitems="1" data-maxitems="6" data-move="1"
                   class="mk-clients mk-flexslider js-flexslider mk-script-call bg-cover-false slideshow-no-title slideshow-no-title ">


                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                  <ul class="mk-flex-slides"
                      style="width: 1000%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">

                    <li style="width: 180px; float: left; display: block;">
                      <div title="client-01" class="client-logo"
                           style="
                                background-image: url(https://docs.pushtechnology.com/cloud/latest/manual/html/lib/img/logos/ibm-bluemix.png);
    height: 110px;
    width: 100%;
    background-size: 100%;"></div>
                    </li>
                    <li style="width: 180px; float: left; display: block;">
                      <div title="client-02" class="client-logo"
                           style="background-size: 70%; background-image:url(https://ttnstaticfile.blob.core.windows.net/static/ttn/media/logo/ttn-logo.png);      height: 100px;
     width: 100%; "></div>
                    </li>
                    <li style="width: 180px; float: left; display: block;">
                      <div title="client-03" class="client-logo"
                           style="background-image:url(http://demos.artbees.net/jupiter5/tempestas/wp-content/uploads/sites/101/2016/04/clients-2.png);  height:100px; "></div>
                    </li>
                    <li style="width: 180px; float: left; display: block;">
                      <div title="client-04" class="client-logo"
                           style="background-image:url(http://demos.artbees.net/jupiter5/tempestas/wp-content/uploads/sites/101/2016/04/clients-4.png);  height:100px; "></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="clearboth"></div>
        </div>


        <div class="clearboth"></div>
      </div>
    </div>

    <div class="mk-main-wrapper-holder">
      <div class="theme-page-wrapper no-padding full-layout mk-grid vc_row-fluid">
        <div class="theme-content no-padding">


          <div class="clearboth"></div>

          <div class="clearboth"></div>
        </div>
        <div class="clearboth"></div>

      </div>
    </div>


  </div>

  <section id="mk-footer-unfold-spacer"></section>

  <section id="mk-footer" class=" disable-on-mobile" role="contentinfo" itemscope="itemscope"
           itemtype="https://schema.org/WPFooter">
    <div class="footer-wrapper mk-grid">
      <div class="mk-padding-wrapper">
        <div class="mk-col-1-4">
          <section id="text-2" class="widget widget_text">
            <div class="textwidget"><img
                    src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/logo.png">
            </div>
          </section>
        </div>
        <div class="mk-col-1-4">
          <section id="text-3" class="widget widget_text">
            <div class="widgettitle">contact</div>
            <div class="textwidget">Patricia C. Amedee 4401 <br>
              Waldeck Street Grapevine <br>
              Nashville, TX 76051<br>
              info@yourdomain.com<br>
              +99 (0) 101 0000 888
            </div>
          </section>
        </div>
        <div class="mk-col-1-4">
          <section id="text-4" class="widget widget_text">
            <div class="widgettitle">menu</div>
            <div class="textwidget">
              <div>
                <a href="http://demos.artbees.net/jupiter5/tempestas/#Home">Home</a><br>
                <a href="http://demos.artbees.net/jupiter5/tempestas/#Beginners">Beginners</a><br>
                <a href="http://demos.artbees.net/jupiter5/tempestas/#Books">Books</a><br>
                <a href="http://demos.artbees.net/jupiter5/tempestas/#Prices">Prices</a><br>
                <a href="http://demos.artbees.net/jupiter5/tempestas/#Clients">Clients</a><br>
              </div>
            </div>
          </section>
        </div>
        <div class="mk-col-1-4">
          <section id="twitter-2" class="widget widget_twitter">
            <div class="widgettitle">twitter</div>
            <div id="tweets_twitter-2">

              <ul class="mk-tweet-list light">
                <li>
                  <svg class="mk-svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1664 1792">
                    <path d="M1620 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z"></path>
                  </svg>
                  <span class="tweet-text">
								Read up on the most popularly used WordPress Plugins and find out which one is best for your site’s goal! https://t.co/8PFnXRQ5Mq								</span>
                  <a href="http://twitter.com/artbees_design/statuses/865039323799969792" class="tweet-time">5 hours
                    ago </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <div class="clearboth"></div>
      </div>
    </div>

    <div id="sub-footer">
      <div class=" mk-grid">

        <span class="mk-footer-copyright">Copyright All Rights Reserved © 2016</span>
      </div>
      <div class="clearboth"></div>
    </div>
  </section>

</div>

<div class="bottom-corner-btns js-bottom-corner-btns">

  <a href="http://demos.artbees.net/jupiter5/tempestas/#top-of-page"
     class="mk-go-top  js-smooth-scroll js-bottom-corner-btn js-bottom-corner-btn--back">
    <svg class="mk-svg-icon" data-name="mk-icon-chevron-up" data-cacheid="icon-591d4e0228bc3"
         style=" height:16px; width: 16px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792">
      <path d="M1683 1331l-166 165q-19 19-45 19t-45-19l-531-531-531 531q-19 19-45 19t-45-19l-166-165q-19-19-19-45.5t19-45.5l742-741q19-19 45-19t45 19l742 741q19 19 19 45.5t-19 45.5z"></path>
    </svg>
  </a>
  <div class="mk-quick-contact-wrapper  js-bottom-corner-btn js-bottom-corner-btn--contact">

    <a href="http://demos.artbees.net/jupiter5/tempestas/#" class="mk-quick-contact-link">
      <svg class="mk-svg-icon" data-name="mk-icon-envelope" data-cacheid="icon-591d4e0228e50"
           style=" height:20px; width: 20px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792">
        <path d="M1792 710v794q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-794q44 49 101 87 362 246 497 345 57 42 92.5 65.5t94.5 48 110 24.5h2q51 0 110-24.5t94.5-48 92.5-65.5q170-123 498-345 57-39 100-87zm0-294q0 79-49 151t-122 123q-376 261-468 325-10 7-42.5 30.5t-54 38-52 32.5-57.5 27-50 9h-2q-23 0-50-9t-57.5-27-52-32.5-54-38-42.5-30.5q-91-64-262-182.5t-205-142.5q-62-42-117-115.5t-55-136.5q0-78 41.5-130t118.5-52h1472q65 0 112.5 47t47.5 113z"></path>
      </svg>
    </a>
    <div id="mk-quick-contact">
      <div class="mk-quick-contact-title">Here There!</div>
      <p>If you have any question, send us an email and we'll get back to you, soon.</p>
      <form class="mk-contact-form" method="post" novalidate="novalidate">
        <input type="text" placeholder="Name*" required="required" id="name" name="name" class="text-input" value=""
               tabindex="829">
        <input type="email" data-type="email" required="required" placeholder="Email*" id="email" name="email"
               class="text-input" value="" tabindex="830">
        <textarea placeholder="Message*" required="required" id="content" name="content" class="textarea"
                  tabindex="831"></textarea>
        <input placeholder="Enter Captcha" type="text" data-type="captcha" name="captcha"
               class="captcha-form text-input full" required="required" autocomplete="off">
        <a href="http://demos.artbees.net/jupiter5/tempestas/#" class="captcha-change-image">Not readable? Change
          text.</a>
        <span class="captcha-image-holder"><img
                src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/generate-captcha.php"
                class="captcha-image" alt="captcha txt"></span> <br>

        <div class="btn-cont">
          <button tabindex="832" class="mk-progress-button mk-contact-button accent-bg-color button"
                  data-style="move-up">
            <span class="mk-progress-button-content">Send</span>
            <span class="mk-progress">
                            <span class="mk-progress-inner"></span>
                        </span>
            <span class="state-success"><svg class="mk-svg-icon" data-name="mk-moon-checkmark"
                                             data-cacheid="icon-591d4e022914b" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 512 512"><path
                    d="M432 64l-240 240-112-112-80 80 192 192 320-320z"></path></svg></span>
            <span class="state-error"><svg class="mk-svg-icon" data-name="mk-moon-close"
                                           data-cacheid="icon-591d4e02293ea" xmlns="http://www.w3.org/2000/svg"
                                           viewBox="0 0 512 512"><path
                    d="M507.331 411.33l-.006-.005-155.322-155.325 155.322-155.325.006-.005c1.672-1.673 2.881-3.627 3.656-5.708 2.123-5.688.912-12.341-3.662-16.915l-73.373-73.373c-4.574-4.573-11.225-5.783-16.914-3.66-2.08.775-4.035 1.984-5.709 3.655l-.004.005-155.324 155.326-155.324-155.325-.005-.005c-1.673-1.671-3.627-2.88-5.707-3.655-5.69-2.124-12.341-.913-16.915 3.66l-73.374 73.374c-4.574 4.574-5.784 11.226-3.661 16.914.776 2.08 1.985 4.036 3.656 5.708l.005.005 155.325 155.324-155.325 155.326-.004.005c-1.671 1.673-2.88 3.627-3.657 5.707-2.124 5.688-.913 12.341 3.661 16.915l73.374 73.373c4.575 4.574 11.226 5.784 16.915 3.661 2.08-.776 4.035-1.985 5.708-3.656l.005-.005 155.324-155.325 155.324 155.325.006.004c1.674 1.672 3.627 2.881 5.707 3.657 5.689 2.123 12.342.913 16.914-3.661l73.373-73.374c4.574-4.574 5.785-11.227 3.662-16.915-.776-2.08-1.985-4.034-3.657-5.707z"></path></svg></span>
          </button>
        </div>
        <input type="hidden" id="security" name="security" value="63422ad4e8"><input type="hidden"
                                                                                     name="_wp_http_referer"
                                                                                     value="/jupiter5/tempestas/">
        <input type="hidden" id="sh_id" name="sh_id" value="15"><input type="hidden" id="p_id" name="p_id" value="2342">
        <div class="contact-form-message clearfix"></div>
      </form>
      <div class="bottom-arrow"></div>
    </div>
  </div>
</div>


<footer id="mk_page_footer">

  <link rel="stylesheet" id="Dosis-css"
        href="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/css"
        type="text/css" media="all">
  <link rel="stylesheet" id="sensors-fun-css"
        href="styles.css"
        type="text/css" media="all">
  <script type="text/javascript"
          src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/smoothscroll.js"></script>
  <script type="text/javascript"
          src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/comment-reply.min.js"></script>
  <script type="text/javascript"
          src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/core-scripts.js"></script>
  <script type="text/javascript"
          src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/wp-embed.min.js"></script>
  <script type="text/javascript"
          src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/js_composer_front.min.js"></script>
  <script type="text/javascript"
          src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/components-full.js"></script>
  <script type="text/javascript">
  </script>
  <script type="text/javascript">    window.get = {};
  window.get.captcha = function (enteredCaptcha) {
    return jQuery.get(ajaxurl, {action: "mk_validate_captcha_input", captcha: enteredCaptcha});
  };</script>
  <script>
    // Run this very early after DOM is ready
    (function ($) {
      // Prevent browser native behaviour of jumping to anchor
      // while preserving support for current links (shared across net or internally on page)
      var loc = window.location,
          hash = loc.hash;

      // Detect hashlink and change it's name with !loading appendix
      if (hash.length && hash.substring(1).length) {
        var $topLevelSections = $('.vc_row, .mk-main-wrapper-holder, .mk-page-section, #comments');
        var $section = $topLevelSections.filter('#' + hash.substring(1));
        // We smooth scroll only to page section and rows where we define our anchors.
        // This should prevent conflict with third party plugins relying on hash
        if (!$section.length)  return;
        // Mutate hash for some good reason - crazy jumps of browser. We want really smooth scroll on load
        // Discard loading state if it already exists in url (multiple refresh)
        hash = hash.replace('!loading', '');
        var newUrl = hash + '!loading';
        loc.hash = newUrl;
      }
    }(jQuery));
  </script>


</footer>

<div style="clear: both;"></div>
<iframe id="intercom-frame" style="display: none;"
        src="./Tempestas Template – Jupiter WordPress Theme – Another amazing template created by Jupiter WordPress theme_files/saved_resource.html"></iframe>
<div id="intercom-container"
     style="position: fixed; width: 0px; height: 0px; bottom: 0px; right: 0px; z-index: 2147483647;">
  <!-- react-empty: 1 --></div>
</body>
</html>