<div class="container">
	<a class="row" href="sensor1">
		<span class="col-md-2">
			<img src="img/logo-toon.svg" width="50px" height="50px" style="background-color: white; box-sizing: border-box"  />
		</span>	
		<span class="col-md-5">
			Toon sensor
		</span>
	</a>
	<a class="row" href="sensor2">
		<span class="col-md-2">	
			<img src="img/logo-ttn.svg" width="50px" height="50px" style="background-color: white;   box-sizing: border-box"  />
		</span>
		<span class="col-md-5">
			THe Thing Network sensor
		</span>
	</a>	
</div>